AllThreeFlows.json
[
    {
        "id": "55e22fddf4f7f530",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "ab9a01642a098fb8",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "2f6b5a386fe5411a",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "63545270c3129d4a",
        "type": "serial-port",
        "serialport": "COM3",
        "serialbaud": "9600",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "waitfor": "",
        "dtr": "none",
        "rts": "none",
        "cts": "none",
        "dsr": "none",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": "",
        "responsetimeout": "10000"
    },
    {
        "id": "5184f89f3c5c4c59",
        "type": "ui_group",
        "name": "Default",
        "tab": "a9ae17ee4b7886a1",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "a9ae17ee4b7886a1",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "2fca13097c8130fd",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "9af5fbce190e6385",
        "type": "ui_text",
        "z": "55e22fddf4f7f530",
        "group": "5184f89f3c5c4c59",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "SerialOut",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 420,
        "y": 220,
        "wires": []
    },
    {
        "id": "b61298a77b9b2285",
        "type": "serial in",
        "z": "55e22fddf4f7f530",
        "name": "ArduinoMega2560",
        "serial": "63545270c3129d4a",
        "x": 190,
        "y": 220,
        "wires": [
            [
                "9af5fbce190e6385",
                "b1118478e96028d1"
            ]
        ]
    },
    {
        "id": "b1118478e96028d1",
        "type": "file",
        "z": "55e22fddf4f7f530",
        "name": "C:\\Users\\ryguy\\OneDrive\\Desktop\\Arduino.txt",
        "filename": "C:\\Users\\ryguy\\OneDrive\\Desktop\\Arduino.txt",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "setbymsg",
        "x": 410,
        "y": 140,
        "wires": [
            [
                "f68df641651bb4d7"
            ]
        ]
    },
    {
        "id": "f68df641651bb4d7",
        "type": "debug",
        "z": "55e22fddf4f7f530",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 610,
        "y": 200,
        "wires": []
    },
    {
        "id": "39d25ee67775ab39",
        "type": "file in",
        "z": "55e22fddf4f7f530",
        "name": "C:\\Users\\ryguy\\OneDrive\\Desktop\\SPDVals.txt",
        "filename": "C:\\Users\\ryguy\\OneDrive\\Documents\\Train_Controller\\ANALOG\\demo.txt",
        "format": "lines",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": true,
        "x": 200,
        "y": 340,
        "wires": [
            [
                "f5b943a380f1d58d",
                "4a17c13dfba0feea",
                "f7f8c51ae83cb6ac"
            ]
        ]
    },
    {
        "id": "f5b943a380f1d58d",
        "type": "serial out",
        "z": "55e22fddf4f7f530",
        "name": "ArduinoMega2560",
        "serial": "63545270c3129d4a",
        "x": 410,
        "y": 500,
        "wires": []
    },
    {
        "id": "4a17c13dfba0feea",
        "type": "ui_text",
        "z": "55e22fddf4f7f530",
        "group": "5184f89f3c5c4c59",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "SerialIn",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 300,
        "y": 540,
        "wires": []
    },
    {
        "id": "f7f8c51ae83cb6ac",
        "type": "debug",
        "z": "55e22fddf4f7f530",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 210,
        "y": 580,
        "wires": []
    },
    {
        "id": "aa26afb3347a853b",
        "type": "inject",
        "z": "55e22fddf4f7f530",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "1",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 100,
        "y": 280,
        "wires": [
            [
                "39d25ee67775ab39"
            ]
        ]
    },
    {
        "id": "ab2a2aacb8c53429",
        "type": "inject",
        "z": "ab9a01642a098fb8",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": true,
        "onceDelay": "3",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 210,
        "y": 300,
        "wires": [
            [
                "ecbf46815424499b"
            ]
        ]
    },
    {
        "id": "ecbf46815424499b",
        "type": "file in",
        "z": "ab9a01642a098fb8",
        "name": "C:\\Users\\ryguy\\OneDrive\\Desktop\\SPDVals.txt",
        "filename": "C:\\Users\\ryguy\\OneDrive\\Documents\\Train_Controller\\ANALOG\\demo.txt",
        "format": "lines",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": true,
        "x": 500,
        "y": 220,
        "wires": [
            [
                "058b1e5e327c0b06",
                "cd07653c3a268639"
            ]
        ]
    },
    {
        "id": "058b1e5e327c0b06",
        "type": "ui_text",
        "z": "ab9a01642a098fb8",
        "group": "5184f89f3c5c4c59",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "SerialIn2",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 460,
        "y": 320,
        "wires": []
    },
    {
        "id": "cd07653c3a268639",
        "type": "debug",
        "z": "ab9a01642a098fb8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 470,
        "y": 380,
        "wires": []
    },
    {
        "id": "70124e406ecaca77",
        "type": "ui_text",
        "z": "2f6b5a386fe5411a",
        "group": "5184f89f3c5c4c59",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Sychronize Check",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 190,
        "y": 380,
        "wires": []
    },
    {
        "id": "7a6f65e123bdb215",
        "type": "serial in",
        "z": "2f6b5a386fe5411a",
        "name": "ArduinoMega2560",
        "serial": "63545270c3129d4a",
        "x": 190,
        "y": 220,
        "wires": [
            [
                "70124e406ecaca77",
                "386dda928225497f"
            ]
        ]
    },
    {
        "id": "386dda928225497f",
        "type": "file",
        "z": "2f6b5a386fe5411a",
        "name": "C:\\Users\\ryguy\\OneDrive\\Desktop\\Arduino.txt",
        "filename": "C:\\Users\\ryguy\\OneDrive\\Desktop\\Arduino.txt",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "setbymsg",
        "x": 410,
        "y": 140,
        "wires": [
            [
                "104a1a4654c96263"
            ]
        ]
    },
    {
        "id": "104a1a4654c96263",
        "type": "debug",
        "z": "2f6b5a386fe5411a",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 610,
        "y": 200,
        "wires": []
    }
]