testflow.json
[
    {
        "id": "2f6b5a386fe5411a",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "70124e406ecaca77",
        "type": "ui_text",
        "z": "2f6b5a386fe5411a",
        "group": "5184f89f3c5c4c59",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Sychronize Check",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 190,
        "y": 380,
        "wires": []
    },
    {
        "id": "7a6f65e123bdb215",
        "type": "serial in",
        "z": "2f6b5a386fe5411a",
        "name": "ArduinoMega2560",
        "serial": "63545270c3129d4a",
        "x": 190,
        "y": 220,
        "wires": [
            [
                "70124e406ecaca77",
                "386dda928225497f"
            ]
        ]
    },
    {
        "id": "386dda928225497f",
        "type": "file",
        "z": "2f6b5a386fe5411a",
        "name": "C:\\Users\\ryguy\\OneDrive\\Desktop\\Arduino.txt",
        "filename": "C:\\Users\\ryguy\\OneDrive\\Desktop\\Arduino.txt",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "setbymsg",
        "x": 410,
        "y": 140,
        "wires": [
            [
                "104a1a4654c96263"
            ]
        ]
    },
    {
        "id": "104a1a4654c96263",
        "type": "debug",
        "z": "2f6b5a386fe5411a",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 610,
        "y": 200,
        "wires": []
    },
    {
        "id": "5184f89f3c5c4c59",
        "type": "ui_group",
        "name": "Default",
        "tab": "a9ae17ee4b7886a1",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "63545270c3129d4a",
        "type": "serial-port",
        "serialport": "COM3",
        "serialbaud": "9600",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "waitfor": "",
        "dtr": "none",
        "rts": "none",
        "cts": "none",
        "dsr": "none",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": "",
        "responsetimeout": "10000"
    },
    {
        "id": "a9ae17ee4b7886a1",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]